{% extends '_base.html' %}

{% block page_title %}
    جزییات کتاب {{ book.title }}
{% endblock %}

{% block content %}
    {{ book.title }}
    {{ book.author }}
    {{ book.price }}
    <br><br><br>
    {{ book.description|linebreaks }}
    <a href="{% url 'book_update' book.id %}">
        <button class="btn btn-info" type="button">ویرایش</button>
    </a>
    <a href="{% url 'book_delete' book.id %}">
        <button class="btn btn-danger" type="button">حذف</button>
    </a>

    <a href="{% url 'books_list' %}">همه کتاب ها</a>

{% endblock %}